.main{
    border: 1px solid whitesmoke;
    padding: 0;
}
.content{

}
.side-nav{
    background-color: #E3E1E1;
    font-size: small;
    padding: 15px;
}
.image{
    border-radius: 360px;
    height: 70px;
    width: 70px;
}
.image-body{
    text-align: center;
}
.image-body h4{
    font-size: small;
}
