.main{
    border: 1px solid whitesmoke;
    padding: 0;
}
.content{

}

.image{
    border-radius: 360px;
    height: 60px;
    width: 60px;
}
.image-body{
    text-align: center;
}
.image-body h4{
    font-size: small;
}
